/*all*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-collapse: collapse;
	font-size: 14px;
}
body{
	background-color: #F8F8FA;
}
/*nav*/
.head{
	background-color: white;
	border-bottom: solid 1px #DDDDDD;
}
.nav>div{
	height: 50px;
}
.title{
	color: #507AC8;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
}
.sub-title{
	margin-left: 10px;
	color: gray;
}
.nav-tool>div{
	display: none;
	margin: auto;
	color: #F35B25;
	height: 50px;
	line-height: 50px;
	width: 120px;
	text-align: center;
	border-bottom: 1px solid #F35B25;
}
.nav-tool>div:hover{
	background-color: #F8F8FA;
}
.nav-link ul{
	float: right;
	list-style: none;
}
.nav-link ul li{
	float: left;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
.nav-link ul li:hover, .nav-link ul li.active{
	color: #278ED7;
	border-bottom: solid 1px #278ED7;
	cursor: pointer;
	border-width: 2px;
}
.nav-link ul li:hover{
	background-color: #F8F8FA;
}
.nav-link ul li:hover a, .nav-link ul li.active a{
	color: #278ED7;
	cursor: pointer;
}
/*gallery*/
.body{
	margin-top: 50px;
}
.body-gallery{
	padding: 20px;
}
.gline{
	
}
.p-title-line{
	padding: 10px;
}
.p-title{
	font-size: 20px;
	color: grey;
}
.showmore{
	float: right;
	color: #F35B25;	
	text-decoration: underline;
}
.showmore:hover{
	color: #278ED7;
	text-decoration: underline;
}
.showmore:hover, .p-tcp-title-line:hover, .p-tcp-img-line:hover, .action-group i:hover{
	cursor: pointer;
}
.p-tcp-box{
}
.p-tcp{
	background-color: white;
	border: solid 1px #DDDDDD;
}
.p-tcp:hover{
	box-shadow: 0px 1px 13px rgba(13, 19, 24, 0.2);
}
.p-tcp-title-line{
	height: 25px;
	padding-top: 10px;
	text-align: center;
}
.p-tcp-img-line{
	height: 205px;
}
.p-tcp-bottom-line{
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
}
.action-group{
	float: right;
}

/*view*/
.tcp-view-back{
	float: left;
}
.tcp-view-tool{
	float: right;
	padding-top: 20px;
}
.tcp-tool{
	float: left;
	border: 1px solid #DDDDDD;
	color: black;
	border-radius: 3px;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-right: 10px;
}
.tcp-tool:hover{
	border: 1px solid #278ED7;
	color: #278ED7;
	cursor: pointer;
	background-color: white;
}
.tcp-view-box{
	height: 700px;
	min-width: 900px;
	padding: 20px;
}
